// font style //
.font14 {
  font-size: 14px ;
}
.font16 {
  font-size: 16px ;
}
.font18 {
  font-size: 18px ;
}
.font20 {
  font-size: 20px ;
}
.font22 {
  font-size: 22px ;
}
.font24 {
  font-size: 24px ;
}

.font_bold {
  font-weight: bold ;
}


//modal//
.theme-background{
  background-color: #337ab7 !important;
}

span.hide{
  display:none ;
}
